.events-main{
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.events-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}