* {
  --clr-1: #F3D170;
  --clr-2: #A1C2E1;
  --clr-3: #EDB5A8;
  --clr-4: #00ACBA;
  --clr-5: #F6D48A;
  --clr-6: #ECAEBD;

  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  
}

/* #root {
  position: relative;
  min-height: 100vh;
} */



